#film-list{
    display: flex;
    flex-wrap: wrap;
}

.flex-item{
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

.description{
    display: none;
    margin-top: 10px;
}
.more-button{
    cursor: pointer;
    display: block;
    margin-top: 10px;
}